@model BAL.ViewModels.Member.CreateNewMember
@{
	ViewData["Title"] = "New Member Registration Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<SelectListItem> genders = new()
	{
		new SelectListItem {Text = "Male",Value = "Male"},
		new SelectListItem {Text = "Female",Value = "Female"},
		new SelectListItem {Text = "Other",Value = "Other"}
	};
}
<!-- saved from url=(0035)https://themewagon.github.io/furni/ -->
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="#">

	<meta name="description" content="">
	<meta name="keywords" content="bootstrap, bootstrap4">
	<title>Register</title>
</head>

<body class="background">
	<div
		style="background-image: url(~/images/Background.png); background-repeat:no-repeat; background-size: 100% 100%;">
		<div class="main-container">
			<div class="row justify-content-between">
				<div class="col-lg-6">
					<div class="box-container">
						<div class="d-flex justify-content-center box-header light-green">
							<h5><b>Register</b></h5>
						</div>

						<div class="d-flex box-body justify-content-center">
							<form class="reg-form" asp-controller="Auth" asp-action="Register">
								@* @{
									if (ViewBag.error != null)
									{
										<span class="text-danger">@ViewBag.error</span>
									}
								} *@
								<div class="form-group">
									<input type="text" placeholder="Username" asp-for="UserName" class="form-control form-data" />

									<span asp-validation-for="UserName" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="text" placeholder="Fullname" asp-for="FullName" class="form-control form-data" />

									<span asp-validation-for="FullName" class="text-danger"></span>
								</div>
								<div class="form-group">

									<select class="form-control form-data custom-select" asp-for="Gender" asp-items="@genders"  name="gender">
										<option value="">Gender</option>
									</select>

									<span asp-validation-for="Gender" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="email" placeholder="Email" asp-for="Email" class="form-control form-data" />

									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="tel" placeholder="Phone" asp-for="Phone" class="form-control form-data" />

									<span asp-validation-for="Phone" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="password" placeholder="Password" asp-for="Password" class="form-control" />

									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="password" placeholder="ConfirmPassword" asp-for="ConfirmPassword" class="form-control" />
									
									<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
								</div>
								<div class="form-group">
									<h5><b>New Member must buy our Membership to have access to our service</b></h5>
									<input disabled class="form-control form-data" value="30.000vnd" />
									<input type="hidden" placeholder="PayAmount" asp-for="PayAmount" class="form-control form-data" value="30000" />
								</div>
								<button class="reg-button button light-green" type="submit" value="Register">Register</button>
							</form>
						</div>
						
					</div>
				</div>
				<div class="col-lg-6">
					<div class="write-container">
						<div class="write-title">ChaoMao BirdClub</div>
					</div>
					<div class="write-text">
						Join us for an amazing Bird Lovers Community
					</div>
					<div class="row">
						<div class="d-flex justify-content-center">
							<img class="bird-image" src="~/images/bulbul.png">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	</body>
</html>