@page "/Parent/Index"
@model CEG_RazorWebApp.Pages.Parent.ParentIndexModel
@{
    Layout = null;
    ViewData["Title"] = "Parent Index Page";
    Layout = "~/Pages/Shared/_PLayout.cshtml";
}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <!-- Main Content -->
    <div class="main-content">
        <!-- num of data -->
        <div class="cardBox">
            <div class="card event">
                <div class="inconBx">
                    <i class='bx bx-home-heart'></i>
                </div>
                <div>
                    <div class="cardName">Homework</div>
                </div>
            </div>
            <div class="card feedback">
                <div class="inconBx">
                    <i class='bx bx-conversation'></i>
                </div>
                <div>
                    <div class="cardName">Play Time</div>
                </div>
            </div>
            <div class="card turnover">
                <div class="inconBx">
                    <i class='bx bx-money'></i>
                </div>
                <div>
                    <div class="cardName">Total Points</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>