@{
    ViewData["Title"] = "LeaderBoard Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
    <body>
    <div style="width: 1244px; height: 1959px; position: relative">
        <div style="width: 1240px; height: 1959px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, white 0%, white 38%, white 52%)"></div>
        <div style="width: 1242px; height: 1569px; left: 2px; top: 3px; position: absolute">
            <div style="width: 1240px; height: 1544px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); border-radius: 25px"></div>
            <div style="width: 1238px; height: 1484px; left: 0px; top: 85px; position: absolute; background: rgba(255, 255, 255, 0.80); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-top-left-radius: 25px; border-top-right-radius: 25px; border: 1px rgba(31.49, 82.87, 0, 0.35) solid"></div>
            <div style="width: 1238px; height: 87px; left: 1px; top: 1482px; position: absolute">
                <div style="width: 1238px; height: 87px; left: 0px; top: 87px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35)"></div>
                <div style="width: 166.87px; height: 39.91px; left: 536px; top: 24px; position: absolute">
                    <div style="width: 39.97px; height: 39.91px; padding-top: 3.33px; padding-bottom: 3.33px; padding-left: 9.99px; padding-right: 10.38px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                        <div style="width: 19.60px; height: 33.26px; background: black"></div>
                    </div>
                    <div style="width: 39.97px; height: 39.91px; padding-top: 3.33px; padding-bottom: 3.33px; padding-left: 9.99px; padding-right: 10.38px; left: 166.87px; top: 39.91px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; justify-content: center; align-items: center; display: inline-flex">
                        <div style="width: 19.60px; height: 33.26px; background: black"></div>
                    </div>
                    <div style="width: 13.99px; height: 23.95px; left: 106.92px; top: 7.98px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">3</div>
                    <div style="width: 12.99px; height: 23.95px; left: 74.94px; top: 7.98px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">2</div>
                    <div style="width: 9.99px; height: 23.95px; left: 45.97px; top: 7.98px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">1</div>
                </div>
            </div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 163px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 241px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 319px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 397px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 475px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 553px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 631px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 709px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 787px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 865px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 943px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 1021px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 1099px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 0px; top: 1177px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 2px; top: 1251px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 2px; top: 1329px; position: absolute; border: 1px black solid"></div>
            <div style="width: 1240px; height: 0px; left: 2px; top: 1407px; position: absolute; border: 1px black solid"></div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 400px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 478px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 556px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 946px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 1024px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 1410px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 1102px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 1182px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 1258px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 1332px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 868px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 636px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 712px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 790px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 2px; top: 322px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(255, 251.81, 251.81, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">54000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 3px; top: 167px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(185.94, 185.94, 185.94, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benedict Consure</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">56000</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 3px; top: 245px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(168, 119, 73, 0.38)"></div>
            <div style="left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Alice Hernandez</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">55780</div>
        </div>
        <div style="width: 1238px; height: 78px; left: 3px; top: 89px; position: absolute">
            <div style="width: 1238px; height: 78px; left: 0px; top: 0px; position: absolute; background: rgba(249.69, 213.40, 22.89, 0.38)"></div>
            <div style="width: 173px; height: 29.38px; left: 32px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Will Howart</div>
            <div style="left: 1127px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">58000</div>
        </div>
        <div style="width: 1238px; height: 88px; left: 3px; top: 0px; position: absolute">
            <div style="width: 1238px; height: 88px; left: 0px; top: 0px; position: absolute; background: rgba(74.29, 195.50, 0, 0.35); border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
            <div style="width: 1113px; left: 57px; top: 25px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Leaderboard</div>
        </div>
    </div>
    </body>
</html>
