.sidebar-brand {
    margin: 15px;
}

.side-color {
    background-color: #34495e;
}

.navbar-ml .nav-item {
    margin-left: 30px;
}

.nav-link-black {
    color: black;
    font-weight: 800;
    font-size: 20px;
}