html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50;
}

body {
    padding-bottom: 200px;
}

nav {
    backdrop-filter: blur();
    background-color: rgba(255, 255, 255, 0.6);
}

a {
    text-decoration: none;
    color: darkgreen;
}

.navbar .nav-name-text {
    text-align: center;
    color: darkgreen;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    word-spacing: 1px;
}

.nav-item-text .nav-link {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    white-space: nowrap;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}

.bottom-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.button {
    justify-content: center;
}

.text-color {
    color: white;
}

.button .bottom-text {
    width: 150px;
    height: auto;
    background: #27517b;
    border-radius: 50px;
    font-size: 22px;
    color: white;
}

    .button .bottom-text:hover {
        width: 150px;
        height: auto;
        background: #7ca2c9;
        border-radius: 50px;
        font-size: 22px;
        color: white;
    }
/*.footer .d-flex {
    flex-direction: column;
    align-items: center;
}*/
.other-fanpages {
    justify-content: end;
}

.dropdown-menu .dropdown-item {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    white-space: nowrap;
}
