<!DOCTYPE html>
<!-- saved from url=(0035)https://themewagon.github.io/furni/ -->
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="#">

	<meta name="description" content="">
	<meta name="keywords" content="bootstrap, bootstrap4">

	<!-- Bootstrap CSS -->
	<link href="./register_files/bootstrap.min.css" rel="stylesheet">
	<link href="./register_files/all.min.css" rel="stylesheet">
	<link href="./register_files/tiny-slider.css" rel="stylesheet">
	<link href="./register_files/style.css" rel="stylesheet">
	<link href="./css/register.css" rel="stylesheet">
	<title>Login</title>
</head>

<body>
	<div
		style="background-image: url(./register_files/Background.png); background-repeat:no-repeat; background-size: 100% 100%;">
		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark transparent"
			arial-label="Furni navigation bar">
			<div class="container">
				<div class="row">
					<div class="col-2">
						<div class="row">
							<div class="col-6">
								<img src="register_files/Red_whiskered_bulbul_bird_logo_eps_10_generated 1.png">
							</div>
							<div class="col-6">
								<div class="row">
									<div class="col">
										<div class="navbar-brand">ChaoMao</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="navbar-brand">Club</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-2">

					</div>
					<div class="col-8">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
							data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarsFurni">
							<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0 text-dark">
								<li><a class="nav-link" href="#">Home</a></li>
								<li><a class="nav-link" href="#">News</a></li>
								<li><a class="nav-link" href="#">Contests</a></li>
								<li><a class="nav-link" href="#">Field trips</a></li>
								<li><a class="nav-link" href="#">Meetings</a></li>
								<li><a class="nav-link" href="#">Community</a></li>
								<li><a class="nav-link" href="#">Gallery</a></li>
							</ul>
							<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
								<li><a class="nav-link" href="https://themewagon.github.io/furni/#"><img
											src="./register_files/user.svg"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
		<!-- <div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
								<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
								<p><a href="https://themewagon.github.io/furni/" class="btn btn-secondary me-2">Shop Now</a><a href="https://themewagon.github.io/furni/#" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="./register_files/couch.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div> -->
		<!-- End Hero Section -->

		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="main-container">
			<div class="row justify-content-between">
				<div class="col-lg-6">
					<div class="box-container">
						<div class="d-flex justify-content-center box-header light-green">
							<h5><b>Member login</b></h5>
						</div>
						<div class="d-flex box-body justify-content-center">
							<form class="reg-form">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Username or Email">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Password">
								</div>
								<button class="reg-button btn light-green" type="submit">Login</button>
								<div class="reg-text">
									New to this ? Join us <a href="#" class="link-success">Sign up</a>
								</div>
								<div class="reg-text">
									Or Login with
								</div>
								<img class="google-icon" img src="register_files/google.png">
							</form>
						</div>
					</div>
					<!-- <div class="row my-5">
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="./register_files/truck.svg" alt="Image" class="imf-fluid">
								</div>
								<h3>Fast &amp; Free Shipping</h3>
								<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
									vulputate.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="./register_files/bag.svg" alt="Image" class="imf-fluid">
								</div>
								<h3>Easy to Shop</h3>
								<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
									vulputate.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="./register_files/support.svg" alt="Image" class="imf-fluid">
								</div>
								<h3>24/7 Support</h3>
								<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
									vulputate.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="./register_files/return.svg" alt="Image" class="imf-fluid">
								</div>
								<h3>Hassle Free Returns</h3>
								<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
									vulputate.</p>
							</div>
						</div>

					</div> -->
				</div>
				<div class="col-lg-6">
					<div class="write-container">
						<div class="write-title">ChaoMao BirdClub</div>
					</div>
					<div class="write-text">
						Join us for an amazing Bird Lovers Community
					</div>
					<div class="row">
						<div class="d-flex justify-content-center">
							<img class="bird-image" src="./register_files/bulbul.jpg">
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		<!-- <div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="./register_files/img-grid-1.jpg" alt="Untree.co"></div>
							<div class="grid grid-2"><img src="./register_files/img-grid-2.jpg" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="./register_files/img-grid-3.jpg" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">We Help You Make Modern Interior Design</h2>
						<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada</p>

						<ul class="list-unstyled custom-list my-4">
							<li>Donec vitae odio quis nisl dapibus malesuada</li>
							<li>Donec vitae odio quis nisl dapibus malesuada</li>
							<li>Donec vitae odio quis nisl dapibus malesuada</li>
							<li>Donec vitae odio quis nisl dapibus malesuada</li>
						</ul>
						<p><a herf="#" class="btn">Explore</a></p>
					</div>
				</div>
			</div>
		</div> -->
		<!-- End We Help Section -->

		<!-- Start Popular Product -->
		<!-- <div class="popular-product">
			<div class="container">
				<div class="row">

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="./register_files/product-1.png" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Nordic Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="https://themewagon.github.io/furni/#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="./register_files/product-2.png" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Kruzo Aero Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="https://themewagon.github.io/furni/#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="./register_files/product-3.png" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Ergonomic Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="https://themewagon.github.io/furni/#">Read More</a></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> -->
		<!-- End Popular Product -->

		<!-- Start Testimonial Slider -->

		<!-- End Testimonial Slider -->

		<!-- Start Blog Section -->
		<!-- <div class="blog-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6">
						<h2 class="section-title">Recent Blog</h2>
					</div>
					<div class="col-md-6 text-start text-md-end">
						<a href="https://themewagon.github.io/furni/#" class="more">View All Posts</a>
					</div>
				</div>

				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="https://themewagon.github.io/furni/#" class="post-thumbnail"><img src="./register_files/post-1.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="https://themewagon.github.io/furni/#">First Time Home Owner Ideas</a></h3>
								<div class="meta">
									<span>by <a href="https://themewagon.github.io/furni/#">Kristin Watson</a></span> <span>on <a href="https://themewagon.github.io/furni/#">Dec 19, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="https://themewagon.github.io/furni/#" class="post-thumbnail"><img src="./register_files/post-2.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="https://themewagon.github.io/furni/#">How To Keep Your Furniture Clean</a></h3>
								<div class="meta">
									<span>by <a href="https://themewagon.github.io/furni/#">Robert Fox</a></span> <span>on <a href="https://themewagon.github.io/furni/#">Dec 15, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="https://themewagon.github.io/furni/#" class="post-thumbnail"><img src="./register_files/post-3.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="https://themewagon.github.io/furni/#">Small Space Furniture Apartment Ideas</a></h3>
								<div class="meta">
									<span>by <a href="https://themewagon.github.io/furni/#">Kristin Watson</a></span> <span>on <a href="https://themewagon.github.io/furni/#">Dec 12, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> -->
		<!-- End Blog Section -->

		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">
				<!-- <div class="row">
				<div class="col-lg-8">
					<div class="subscription-form">
						<h3 class="d-flex align-items-center"><span class="me-1"><img
									src="./register_files/envelope-outline.svg" alt="Image"
									class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

						 <form action="https://themewagon.github.io/furni/#" class="row g-3">
							<div class="col-auto">
								<input type="text" class="form-control" placeholder="Enter your name">
							</div>
							<div class="col-auto">
								<input type="email" class="form-control" placeholder="Enter your email">
							</div>
							<div class="col-auto">
								<button class="btn btn-primary">
									<span class="fa fa-paper-plane"></span>
								</button>
							</div>
						</form>

					</div>
				</div>
			</div> -->

				<div class="row g-5 mb-5">
					<!-- <div class="col-lg-4"> -->
					<!-- <div class="mb-4 footer-logo-wrap"><a href="https://themewagon.github.io/furni/#"
							class="footer-logo">Furni<span>.</span></a></div> -->
					<p class="mb-4">We welcome donations in any amount to help fund club initiatives and activities,
						such as
						the purchase of bird seed for feeding birds, necessaries for harmed bird treatments, the annual
						Contests, Field trips and other club events, the purchase of supplies and tools for our
						volunteer
						projects, etc.</p>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<div>
					<button type="submit" class="btn dark-green">Donate</button>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="d-flex justify-content-between copyright">
						<div>
							<p class="mb-2 text-center text-lg-start">Copyright ©
								<script>document.write(new Date().getFullYear());</script> ChaoMao Bird Club
							</p>
						</div>
						<div>
							<ul class="list-unstyled custom-social">
								<li><a href="#"><img src="register_files/akar-icons_location.png"
											class="fa fa-brands"></img></a></li>
								<li><a href="#"><img src="register_files/ant-design_instagram-outlined.png"
											class="fa fa-brands fa-instagram"></img></a></li>
								<li><a href="#"><img src="register_files/bxl_facebook.png"
											class="fa fa-brands fa-facebook-f"></img></a></li>
								<li><a href="#"><img src="register_files/ant-design_twitter-outlined.png"
											class="fa fa-brands fa-twitter"></img></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>